.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .1rem
    border-left-style solid
    margin 1rem 0
  
    


@css {
  .custom-block.warning {
    @apply border-t-4 rounded-b  px-4 py-3 shadow-md bg-background-primary
    }

    
  }

